---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Portfolio from "../components/Portfolio.astro";
import Skills from "../components/Skills.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import ContactForm from "../components/ContactForm.tsx";
---

<Layout
  title="Mariano Jimenez Perez | Portfolio"
  desc="Welcome to my personal portfolio! This project serves as a showcase of my skills, projects, and experiences. Feel free to explore and learn more about me. Mariano Jimenez Perez"
>
  <main>
    <Hero />
    <Portfolio />
    <AboutMe />
    <Skills />
    <Contact>
      <ContactForm client:load />
    </Contact>
  </main>
</Layout>
../components/Contact.tsx ../components/ContactForm.tsx
