---
import SectionContainer from "./SectionContainer.astro";
import Heading from "./Heading.astro";
---

<SectionContainer id="about-me">
  <Heading title="About me" subtitle="Why choose me?" />
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-tools"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path><path
              d="M14.5 5.5l4 4"></path><path d="M12 8l-5 -5l-4 4l5 5"
            ></path><path d="M7 8l-1.5 1.5"></path><path
              d="M16 12l5 5l-4 4l-5 -5"></path><path d="M16 17l-1.5 1.5"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Custom Solutions</h3>
        <p class="text-gray-500 dark:text-gray-400">
          I create tailored solutions using React and Next, focusing on
          effectively addressing your specific needs.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-trending-up"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Successful Track Record
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          My experience is a testament to triumphs across diverse projects,
          spotlighting technologies and accomplishments, offering a transparent
          glimpse into my seasoned expertise.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-devices-pc"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 5h6v14h-6z"></path><path d="M12 9h10v7h-10z"></path><path
              d="M14 19h6"></path><path d="M17 16v3"></path><path d="M6 13v.01"
            ></path><path d="M6 16v.01"></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Innovative Technologies
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          I emphasize the use of cutting-edge technologies like React and AWS,
          showcasing my commitment to innovation and advanced solutions.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-speakerphone"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M18 8a3 3 0 0 1 0 6"></path><path
              d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5"></path><path
              d="M12 8h0l4.524 -3.77a.9 .9 0 0 1 1.476 .692v12.156a.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Clear Communication
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          My communication skills result in clear visual presentations and
          detailed narratives, making understanding easy for everyone.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-calendar"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
            ></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path
              d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Personalized Planning
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          I adopt flexible strategies to tailor to each project, ensuring
          efficient execution and successful outcomes customized to your needs.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mood-tongue-wink"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path><path
              d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
              d="M9 10h.01"></path><path d="M10 14v2a2 2 0 0 0 4 0v-2"
            ></path><path d="M15.5 14h-7"></path><path
              d="M17 10c-.5 -1 -2.5 -1 -3 0"></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Cheerful Spirit</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Beyond technical expertise, I bring a positive and cheerful approach.
          I collaborate with enthusiasm, infusing that energy into every project
          and interaction.
        </p>
      </div>
    </div>
  </div>
</SectionContainer>
