---
//js
---

<header
  class="flex justify-between sm:w-[90%] xl:w-[1140px] p-4 mx-auto"
  id="about"
>
  <img
    src="/mariano-jimenez-bkazul.png"
    alt="Mariano Jimenez Perez"
    class="rounded-full w-12"
  />
  <nav class="">
    <ul class="flex gap-4 items-center">
      <li
        class="bg-transparent hover:text-denim-300 font-semibold text-white py-2 px-4"
      >
        <a
          href="https://www.linkedin.com/in/marianojimenezperez-fullstack/"
          target="_blank">Linkedin</a
        >
      </li>
      <li
        class="bg-transparent hover:bg-denim-300 text-denim-300 font-semibold hover:text-white py-2 px-4 border border-denim-300 hover:border-transparent rounded"
      >
        <a href="#contact" class="text-red">Contact</a>
      </li>
    </ul>
  </nav>
</header>
