---
import Heading from "./Heading.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="portfolio">
  <Heading
    title="Latest projects"
    subtitle="A lot projects are private, but here you have the publics"
  />
  <div class="grid grid-cols-3 gap-10 mt-20 mb-10">
    <a
      href="https://realnaut.com/"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-2"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/realnaut.png"
        alt=""
      />
    </a>
    <a
      href="https://chat-app-mjp.netlify.app/login"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-1"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/chatapp.png"
        alt=""
      />
    </a>
    <a
      href="https://github.com/MarianoJimenezPerez/viajeconciente"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-1"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/viajecc.png"
        alt=""
      />
    </a>

    <a
      href="https://www.latamly.com/"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-2"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/latamly.png"
        alt=""
      />
    </a>
    <a
      href="https://www.redragon.es/"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-2"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/redragon.png"
        alt=""
      />
    </a>
    <a
      href="https://github.com/MarianoJimenezPerez/podcast-app"
      target="_blank"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 col-span-3 md:col-span-1"
    >
      <img
        class="object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
        src="/podcastapp.png"
        alt=""
      />
    </a>
  </div>
  <a
    href="https://github.com/MarianoJimenezPerez"
    target="_blank"
    class="text-denim-400 text-center mx-auto self-center font-bold text-xl"
    >&#8249; View all &#8260; &#8250;
  </a>
</SectionContainer>
