---
interface Props {
  icon: HTMLElement;
  title: string;
  level: string;
}

const { icon, title, level } = Astro.props;
---

<div class="flex gap-2 items-start justify-start">
  {icon}
  <div class="flex flex-col gap-2">
    <h6 class="text-md">{title}</h6>
    <h5 class="text-xs text-sky-100">{level}</h5>
  </div>
</div>
